<div class='homepage-wrapper'>
    <div class='home-header-div'>
        <h2 class='home-header-title'>Backyard Garden</h2>
    </div>
    <carousel 
        class='carousel'
        [overflowCellsLimit]='3'
        [images]='carouselImages'
        [transitionDuration]='1000'
        [width]='700'
        > 
    </carousel>
    <div>
        <button routerLink='/register'>Register</button>
        <button routerLink='/login'>Log In</button>
        <button routerLink='/garden'>Garden Page</button>
    </div>
</div>