<h2>Login</h2>
<div class='login-modal-wrapper'>
    <form class='login-form' #loginForm='ngForm' [formGroup]='form' (ngSubmit)='login(loginForm)'>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
        <label>Name:</label>
        <input for='name' type='text'>
        <label>Password:</label>
        <input for='password' type='text'>
        <button type='submit'>Login</button>
    </form>
    <br/><br/>
    <button (click)="callApi()">Call API</button>

    <button (click)="logData()">data button</button>
</div>