<h2>Login</h2>
<div class='login-modal-wrapper'>
    <form class='login-form' [formGroup]='form'>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
        <label>Name:</label>
        <input formControlName='usernameControl' [(ngModel)]='username' for='name' type='text'>
        <label>Password:</label>
        <input formControlName='passwordControl' [(ngModel)]='password' for='password' type='password'>
        <button type='submit' (click)='onSubmit()' >Login</button>
    </form>
    <br/><br/>
    <button (click)="callApi()">Call API</button>


</div>